<h1 class="lesson-title">
  Angular Essential. ДР.
</h1>

<nav>
  <h4>HW_1</h4>
  <a routerLink="/HomeWork-01" routerLinkActive="active">Les_1</a> <br />
  <h4>HW_2</h4>
  <a routerLink="/HomeWork-02" routerLinkActive="active">Les_2</a><br />
  <h4>HW_3</h4>
  <a routerLink="/HomeWork-03" routerLinkActive="active">Les_3</a><br />
  <h4>HW_4</h4>
  <a routerLink="/HomeWork-04" routerLinkActive="active">Les_4</a><br />
  <h5>HW_5</h5>
  <a routerLink="/HomeWork-05" routerLinkActive="active">Les_5</a><br />
</nav>
<div id="sample-panel">
  <router-outlet></router-outlet>
</div>
